#Local terraform directory for license and provider info
#Terraform State and terraform lock files
**/.terraform*

#Macbook files
*.DS_Store

#Sensitive files
*sensitive*

#GCP Key data
*.json

#readme_images folder
/readme_images*
